<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Itrate with thymeleaf</title>
</head>
<body>
  <table class="table">
    <thead>
    <tr>
      <th>Employee First Name</th>
      <th>Employee Last Name</th>
      <th>Employee Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
      <td th:text="${employee.firstName}"></td>
      <td th:text="${employee.LastName}"></td>
      <td th:text="${employee.email}"></td>
    </tr>

    <tr th:each="employee:${employees}"
        th:style="${employeeStat.odd}? 'font-weight: bold'"
         th:alt-title="${employeeStat.even}? 'even' : 'add'">
      <td th:text="${employee.firstName}"></td>
      <td th:text="${employee.LastName}"></td>
      <td th:text="${employee.email  }"></td>

    </tr>
    </tbody>
  </table>
</body>
</html>